In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Insurance%20Premium.csv')

In [5]:
df.head()

   ID  Age  Gender     BMI  Children Smoker Region  Premium
0   1   19  female  27.900         0    yes  south    16885
1   2   18    male  33.770         1     no   east     1726
2   3   28    male  33.000         3     no   east     4449
3   4   33    male  22.705         0     no   west    21984
4   5   32    male  28.880         0     no   west     3867

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1338 non-null   int64
 1   Age       1338 non-null   int64
 2   Gender    1338 non-null   object
 3   BMI       1338 non-null   float64
 4   Children  1338 non-null   int64
 5   Smoker    1338 non-null   object
 6   Region    1338 non-null   object
 7   Premium   1338 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 83.8+ KB

In [10]:
df.describe(include='all')

,ID,Age,Gender,BMI,Children,Smoker,Region,Premium
count,1338.000000,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,NaN,2,NaN,NaN,2,4,NaN
top,NaN,NaN,male,NaN,NaN,no,east,NaN
freq,NaN,NaN,676,NaN,NaN,1064,364,NaN
mean,669.500000,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.414798
std,386.391641,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.012882
min,1.000000,18.000000,NaN,15.960000,0.000000,NaN,NaN,1122.000000
25%,335.250000,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.000000
50%,669.500000,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.000000
75%,1003.750000,51.000000,NaN,34.693750,2.000000,NaN,NaN,16640.000000
max,1338.000000,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.000000

In [12]:
df.columns

Index(['ID', 'Age', 'Gender', 'BMI', 'Children', 'Smoker', 'Region',
       'Premium'],
      dtype='object')

In [13]:
y=df['Premium']
x=df[['Age', 'Gender', 'BMI', 'Children', 'Smoker', 'Region']]

In [15]:
x.Smoker.replace({'no':1,'yes':0},inplace=True)

C:\Users\kapil\AppData\Local\Temp\ipykernel_13960\3378634101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.Smoker.replace({'no':1,'yes':0},inplace=True)

In [18]:
x=pd.get_dummies(x,dtype=int)

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2529)

In [60]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [61]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [62]:
y_pred=model.predict(x_test)

In [63]:
from sklearn.metrics import mean_absolute_percentage_error, r2_score

In [64]:
mean_absolute_percentage_error(y_test,y_pred)

0.35343387920202357

In [65]:
r2_score(y_test,y_pred)

0.8264974210984154

In [66]:
x.sample()

,Age,BMI,Children,Smoker,Gender_female,Gender_male,Region_east,Region_north,Region_south,Region_west
252,54,34.21,2,0,0,1,1,0,0,0

In [38]:
s=np.array([[24,40.15,0,0,0,1,1,0,0,0]])

In [39]:
s.shape

(1, 10)

In [41]:
model.predict(s)

C:\Users\kapil\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([38633.46])

In [49]:
y[377]

38126

In [47]:
x.head(378)

,Age,BMI,Children,Smoker,Gender_female,Gender_male,Region_east,Region_north,Region_south,Region_west
0,19,27.900,0,0,1,0,0,0,1,0
1,18,33.770,1,1,0,1,1,0,0,0
2,28,33.000,3,1,0,1,1,0,0,0
3,33,22.705,0,1,0,1,0,0,0,1
4,32,28.880,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
373,26,32.900,2,0,0,1,0,0,1,0
374,20,33.330,0,1,0,1,1,0,0,0
375,23,28.310,0,0,1,0,0,0,0,1
376,39,24.890,3,0,1,0,0,1,0,0
377,24,40.150,0,0,0,1,1,0,0,0